* {
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  justify-content: center;
  height: 100vh;
  background: lightgrey;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
  font-size: 1rem;
  cursor: pointer;
}

:focus {
  outline: none;
}

/*  <- player container -> */
.class-player-container {
  height: 550px;
  width: 280px;
  margin: auto;
  background: #ffff;
}

/* <- player top -> */
.class-player-top {
  width: inherit;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.class-player-top img {
  width: inherit;
  pointer-events: none;
}

/*  <- range slider -> */
.class-range-slider {
  background: rgba(170, 170, 170);
}

.class-slide-outer {
  height: 0.4rem;
  position: relative;
  cursor: pointer;
  background: rgba(170, 170, 170);
  border-radius: 0.1rem;
}

.class-slide-inner {
  height: 100%;
  width: 0%;
  position: absolute;
  background: crimson;
}

.focus {
  opacity: 0.8;
  transform: scale(1.5);
}

.class-music-timer {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  margin: 8px;
}

/* <- player list -> */
.class-music-list {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgba(33, 33, 33);
}

.class-music-list h5 {
  display: flex;
  text-shadow: 0px 4px 8px rgba(30, 30, 30, 0.15);
  margin: 20px 30px;
  align-items: center;
  min-height: 72px;
  font-size: 17px;
  color: #404040;
}

/*  <-- btn --> */
button {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  font-size: 11px;
  border: none;
  background: none;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(33, 33, 33, 0.1), 0 3px 12px rgba(33, 33, 33, 0.15);
  transition-duration: 0.15s;
}

button:hover {
  color: crimson;
}

ul button:nth-child(2) {
  height: 48px;
  width: 48px;
  color: crimson;
  margin: auto 22px;
}

.ctrl-btn-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

/* <--- footer  ---> */
.class-player-footer {
  align-items: center;
}

.class-player-footer ul {
  display: flex;
  padding: 0;
  justify-content: space-around;
  margin: 35px 25px;
}
